body{
    margin: 15px;
    font-style: italic;
    text-align: center; 
    font-weight: bold;
    background-color: rgba(114, 252, 252, 0.982) ;
}

header{
    /* background-color:#FF96AB ; */
    background-color: #fdaabb;
    font-weight: bold;
    margin: 15px;
    padding: 2%;
    
}
nav{
    margin: 5px;
    text-align: center;
    padding: 3%;
    background-color: #fdaabb;

}
nav button{
 background-color: aqua;
 width: 70px;
 height: 30px;
font-weight: 700;
font-style: italic;
 
}
section{
    margin: 7px;
    padding: 1px;
   
}

section button{
    padding: 10px;
    width: 250px;
    margin: 5px;
    font-weight: 700;

    background-color: #fdaabb;
    
}
